In [1]:
# !pip install yfinance

In [2]:
# dependencies
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from datetime import date
import sqlite3
from datetime import datetime

In [3]:
# Creates a connection to our DB. if file doesn't exist, we create it
# echo=True is verbose
engine = create_engine("sqlite:///pstocks.sqlite", echo=True)
conn = engine.connect()
session = Session(engine)
Base = declarative_base()

# # Define our pet table
# probably deprecated after i found out about df.to_sql method
# class stock(Base):
#     __tablename__ = 'stock'
#     id = Column(Integer, primary_key=True)
#     name = Column(String)
#     type = Column(String)
#     date = Column(Date)
# # creates table
# Base.metadata.create_all(engine)

In [4]:
# choose tickers here
# tickerStrings = ['AAPL', 'MSFT','TSLA','META','TTCF']

In [5]:
#import csv file with the list of S&P 500 companies
splist = pd.read_csv("sp500_constituents.csv")
# print df
splist

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [6]:
#s&p500 tickers
sp500 = splist.rename(columns={'Symbol':'Ticker'})
# print df
sp500

    Ticker                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [7]:
# variable for the list for the for loop
tickerStrings = sp500['Ticker']

# yfinance code to separate tickers into pretty dataframe
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='2y')
    data['Ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    
    df_list.append(data)

# combine all dataframes into a single dataframe
tickerDf = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BLL: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BF.B: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PBCT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
# reset index to prepare for merge
tickerindex = tickerDf.reset_index()

tickerindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2020-07-15,159.979996,161.380005,159.250000,159.330002,148.766739,3472300.0,MMM
1,2020-07-16,159.250000,160.910004,158.039993,160.500000,149.859131,1801500.0,MMM
2,2020-07-17,160.860001,161.559998,159.509995,159.830002,149.233566,2551700.0,MMM
3,2020-07-20,158.850006,158.869995,156.369995,156.369995,146.002960,1790100.0,MMM
4,2020-07-21,157.000000,159.630005,156.990005,157.800003,147.338165,2757200.0,MMM
...,...,...,...,...,...,...,...,...
248742,2022-07-08,177.500000,179.470001,177.080002,177.979996,177.979996,1301700.0,ZTS
248743,2022-07-11,177.850006,178.460007,176.529999,177.039993,177.039993,1008700.0,ZTS
248744,2022-07-12,176.699997,179.210007,173.149994,173.809998,173.809998,1643000.0,ZTS
248745,2022-07-13,170.399994,170.970001,167.050003,167.809998,167.809998,2271500.0,ZTS
248746,2022-07-14,166.929993,170.940002,165.750000,170.789993,170.789993,1569900.0,ZTS

In [9]:
# merge the sp500 df to get add the ticker name
mergeticker = tickerindex.merge(sp500, how = 'right', on = 'Ticker')

mergeticker

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Name,Sector
0,2020-07-15,159.979996,161.380005,159.250000,159.330002,148.766739,3472300.0,MMM,3M,Industrials
1,2020-07-16,159.250000,160.910004,158.039993,160.500000,149.859131,1801500.0,MMM,3M,Industrials
2,2020-07-17,160.860001,161.559998,159.509995,159.830002,149.233566,2551700.0,MMM,3M,Industrials
3,2020-07-20,158.850006,158.869995,156.369995,156.369995,146.002960,1790100.0,MMM,3M,Industrials
4,2020-07-21,157.000000,159.630005,156.990005,157.800003,147.338165,2757200.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...,...,...,...
248753,2022-07-08,177.500000,179.470001,177.080002,177.979996,177.979996,1301700.0,ZTS,Zoetis,Health Care
248754,2022-07-11,177.850006,178.460007,176.529999,177.039993,177.039993,1008700.0,ZTS,Zoetis,Health Care
248755,2022-07-12,176.699997,179.210007,173.149994,173.809998,173.809998,1643000.0,ZTS,Zoetis,Health Care
248756,2022-07-13,170.399994,170.970001,167.050003,167.809998,167.809998,2271500.0,ZTS,Zoetis,Health Care
248757,2022-07-14,166.929993,170.940002,165.750000,170.789993,170.789993,1569900.0,ZTS,Zoetis,Health Care

In [10]:
# dropping columns
closeticker = mergeticker.drop(columns =['High','Low','Open','Adj Close'])

# set index to date
cleanedticker = closeticker.set_index('Date')

cleanedticker

                 Close     Volume Ticker    Name       Sector
Date
2020-07-15  159.330002  3472300.0    MMM      3M  Industrials
2020-07-16  160.500000  1801500.0    MMM      3M  Industrials
2020-07-17  159.830002  2551700.0    MMM      3M  Industrials
2020-07-20  156.369995  1790100.0    MMM      3M  Industrials
2020-07-21  157.800003  2757200.0    MMM      3M  Industrials
...                ...        ...    ...     ...          ...
2022-07-08  177.979996  1301700.0    ZTS  Zoetis  Health Care
2022-07-11  177.039993  1008700.0    ZTS  Zoetis  Health Care
2022-07-12  173.809998  1643000.0    ZTS  Zoetis  Health Care
2022-07-13  167.809998  2271500.0    ZTS  Zoetis  Health Care
2022-07-14  170.789993  1569900.0    ZTS  Zoetis  Health Care

[248758 rows x 5 columns]

In [11]:
# cleanedticker["__id"] = 1
cleanedticker.insert(0, '__id', range(0, len(cleanedticker)))
# cleanedticker.reset_index()
# cleanedticker["__id"] = cleanedticker.index

In [12]:
cleanedticker

              __id       Close     Volume Ticker    Name       Sector
Date
2020-07-15       0  159.330002  3472300.0    MMM      3M  Industrials
2020-07-16       1  160.500000  1801500.0    MMM      3M  Industrials
2020-07-17       2  159.830002  2551700.0    MMM      3M  Industrials
2020-07-20       3  156.369995  1790100.0    MMM      3M  Industrials
2020-07-21       4  157.800003  2757200.0    MMM      3M  Industrials
...            ...         ...        ...    ...     ...          ...
2022-07-08  248753  177.979996  1301700.0    ZTS  Zoetis  Health Care
2022-07-11  248754  177.039993  1008700.0    ZTS  Zoetis  Health Care
2022-07-12  248755  173.809998  1643000.0    ZTS  Zoetis  Health Care
2022-07-13  248756  167.809998  2271500.0    ZTS  Zoetis  Health Care
2022-07-14  248757  170.789993  1569900.0    ZTS  Zoetis  Health Care

[248758 rows x 6 columns]

In [13]:
with sqlite3.connect('pstocks.sqlite') as con:
    cleanedticker.to_sql('pstocks', con=con, dtype={'__id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})

In [14]:
# this will push dataframe to sql, creating a table if none exists
# cleanedticker.to_sql('stocks', conn, if_exists='append')

In [15]:
cleanedticker.head()

            __id       Close     Volume Ticker Name       Sector
Date
2020-07-15     0  159.330002  3472300.0    MMM   3M  Industrials
2020-07-16     1  160.500000  1801500.0    MMM   3M  Industrials
2020-07-17     2  159.830002  2551700.0    MMM   3M  Industrials
2020-07-20     3  156.369995  1790100.0    MMM   3M  Industrials
2020-07-21     4  157.800003  2757200.0    MMM   3M  Industrials

In [16]:
#import csv file with the list of top 100 crypto currencies from yahoo finance
cryptolist = pd.read_csv("yfcryptolist.csv").rename(columns={'Unnamed: 0':'index'})

# print to check df
cryptolist

    index              Name    Ticker
0       0       Bitcoin USD   BTC-USD
1       1      Ethereum USD   ETH-USD
2       2        Tether USD  USDT-USD
3       3      USD Coin USD  USDC-USD
4       4  Binance Coin USD   BNB-USD
..    ...               ...       ...
95     95          Celo USD  CELO-USD
96     96          Kava USD  KAVA-USD
97     97       Arweave USD    AR-USD
98     98          Mina USD  MINA-USD
99     99           Amp USD   AMP-USD

[100 rows x 3 columns]

In [17]:
# set variable name for list for the for loop
cryptoStrings = cryptolist['Ticker']

In [18]:
# yfinance code to separate tickers into pretty dataframe
df_list2 = list()
for crypto in cryptoStrings:
    data2 = yf.download(crypto, group_by="Ticker", period='2y')
    # add this column because the dataframe doesn't contain a column with the ticker
    data2['Ticker'] = crypto 
    
    df_list2.append(data2)

# combine all dataframes into a single dataframe
cryptoDf = pd.concat(df_list2)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [19]:
# print df
cryptoDf

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2020-07-15,9241.897461,9275.325195,9171.933594,9192.836914,9192.836914,15844731575,BTC-USD
2020-07-16,9191.980469,9214.312500,9088.947266,9132.227539,9132.227539,15713967523,BTC-USD
2020-07-17,9131.812500,9182.253906,9089.202148,9151.392578,9151.392578,13944570749,BTC-USD
2020-07-18,9151.183594,9230.983398,9100.824219,9159.040039,9159.040039,12252601475,BTC-USD
2020-07-19,9158.005859,9201.398438,9097.632812,9185.817383,9185.817383,12939002784,BTC-USD
...,...,...,...,...,...,...,...
2022-07-11,0.009156,0.009156,0.008743,0.008844,0.008844,4977881,AMP-USD
2022-07-12,0.008842,0.009128,0.008763,0.008778,0.008778,8721514,AMP-USD
2022-07-13,0.008778,0.008943,0.008521,0.008870,0.008870,6845247,AMP-USD
2022-07-14,0.008871,0.008988,0.008627,0.008951,0.008951,5889119,AMP-USD
2022-07-15,0.008970,0.009074,0.008882,0.008988,0.008988,5969367,AMP-USD

In [20]:
# reset index to prepare for merge and rename ticker column
cryptoindex = cryptoDf.reset_index().rename(columns={"Ticker":"Ticker-drop"})

cryptoindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker-drop
0,2020-07-15,9241.897461,9275.325195,9171.933594,9192.836914,9192.836914,15844731575,BTC-USD
1,2020-07-16,9191.980469,9214.312500,9088.947266,9132.227539,9132.227539,15713967523,BTC-USD
2,2020-07-17,9131.812500,9182.253906,9089.202148,9151.392578,9151.392578,13944570749,BTC-USD
3,2020-07-18,9151.183594,9230.983398,9100.824219,9159.040039,9159.040039,12252601475,BTC-USD
4,2020-07-19,9158.005859,9201.398438,9097.632812,9185.817383,9185.817383,12939002784,BTC-USD
...,...,...,...,...,...,...,...,...
64739,2022-07-11,0.009156,0.009156,0.008743,0.008844,0.008844,4977881,AMP-USD
64740,2022-07-12,0.008842,0.009128,0.008763,0.008778,0.008778,8721514,AMP-USD
64741,2022-07-13,0.008778,0.008943,0.008521,0.008870,0.008870,6845247,AMP-USD
64742,2022-07-14,0.008871,0.008988,0.008627,0.008951,0.008951,5889119,AMP-USD
64743,2022-07-15,0.008970,0.009074,0.008882,0.008988,0.008988,5969367,AMP-USD

In [21]:
# split the hyphen from crypto ticker for the final crypto df, rename columns, and reset index to prepare for merge
tickersplit = cryptolist['Ticker'].str.split('-' ,expand=True).rename(columns={0:'Ticker', 1: 'drop'}).reset_index()
tickersplit

    index Ticker drop
0       0    BTC  USD
1       1    ETH  USD
2       2   USDT  USD
3       3   USDC  USD
4       4    BNB  USD
..    ...    ...  ...
95     95   CELO  USD
96     96   KAVA  USD
97     97     AR  USD
98     98   MINA  USD
99     99    AMP  USD

[100 rows x 3 columns]

In [22]:
# split the space from crypto name for the final crypto df, rename columns, and reset index to prepare for merge
namesplit = cryptolist['Name'].str.split(' ', expand = True).rename(columns={0:'Name', 1: 'drop'}).reset_index()
namesplit

    index      Name  drop     2     3
0       0   Bitcoin   USD  None  None
1       1  Ethereum   USD  None  None
2       2    Tether   USD  None  None
3       3       USD  Coin   USD  None
4       4   Binance  Coin   USD  None
..    ...       ...   ...   ...   ...
95     95      Celo   USD  None  None
96     96      Kava   USD  None  None
97     97   Arweave   USD  None  None
98     98      Mina   USD  None  None
99     99       Amp   USD  None  None

[100 rows x 5 columns]

In [23]:
# merge the two dfs
rename_merge = tickersplit.merge(namesplit, how='right', on='index').drop(columns =['drop_x','drop_y',2,3])

rename_merge

    index Ticker      Name
0       0    BTC   Bitcoin
1       1    ETH  Ethereum
2       2   USDT    Tether
3       3   USDC       USD
4       4    BNB   Binance
..    ...    ...       ...
95     95   CELO      Celo
96     96   KAVA      Kava
97     97     AR   Arweave
98     98   MINA      Mina
99     99    AMP       Amp

[100 rows x 3 columns]

In [24]:
# merge the cryptolist df to prepare for the merge with the crypto data df and rename the columns
mergecrylist = rename_merge.merge(cryptolist, how = 'right', on= 'index')\
            .rename(columns={'Name_x':'Name-drop','Ticker_x':'Ticker','Name_y':'Name','Ticker_y':'Ticker-drop'})

mergecrylist

    index Ticker Name-drop              Name Ticker-drop
0       0    BTC   Bitcoin       Bitcoin USD     BTC-USD
1       1    ETH  Ethereum      Ethereum USD     ETH-USD
2       2   USDT    Tether        Tether USD    USDT-USD
3       3   USDC       USD      USD Coin USD    USDC-USD
4       4    BNB   Binance  Binance Coin USD     BNB-USD
..    ...    ...       ...               ...         ...
95     95   CELO      Celo          Celo USD    CELO-USD
96     96   KAVA      Kava          Kava USD    KAVA-USD
97     97     AR   Arweave       Arweave USD      AR-USD
98     98   MINA      Mina          Mina USD    MINA-USD
99     99    AMP       Amp           Amp USD     AMP-USD

[100 rows x 5 columns]

In [25]:
# final merge between the data df and the name list df and drop the unnecessary columns
crypto_cleaned =cryptoindex.merge(mergecrylist, how= 'right', on='Ticker-drop')\
                .drop(columns=['Open','High','Low','Adj Close', 'index', 'Ticker-drop', 'Name-drop'])\
                .set_index('Date')
crypto_cleaned["Sector"] = "Crypto Currency"

crypto_cleaned

                  Close       Volume Ticker         Name           Sector
Date
2020-07-15  9192.836914  15844731575    BTC  Bitcoin USD  Crypto Currency
2020-07-16  9132.227539  15713967523    BTC  Bitcoin USD  Crypto Currency
2020-07-17  9151.392578  13944570749    BTC  Bitcoin USD  Crypto Currency
2020-07-18  9159.040039  12252601475    BTC  Bitcoin USD  Crypto Currency
2020-07-19  9185.817383  12939002784    BTC  Bitcoin USD  Crypto Currency
...                 ...          ...    ...          ...              ...
2022-07-11     0.008844      4977881    AMP      Amp USD  Crypto Currency
2022-07-12     0.008778      8721514    AMP      Amp USD  Crypto Currency
2022-07-13     0.008870      6845247    AMP      Amp USD  Crypto Currency
2022-07-14     0.008951      5889119    AMP      Amp USD  Crypto Currency
2022-07-15     0.008988      5969367    AMP      Amp USD  Crypto Currency

[64744 rows x 5 columns]

In [26]:
# export to sql
crypto_cleaned.to_sql('pstocks', conn, if_exists='append')

2022-07-14 23:24:09,515 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pstocks")
2022-07-14 23:24:09,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 23:24:09,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-14 23:24:09,943 INFO sqlalchemy.engine.Engine INSERT INTO pstocks ("Date", "Close", "Volume", "Ticker", "Name", "Sector") VALUES (?, ?, ?, ?, ?, ?)
2022-07-14 23:24:09,943 INFO sqlalchemy.engine.Engine [generated in 0.33675s] (('2020-07-15 00:00:00.000000', 9192.8369140625, 15844731575, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-16 00:00:00.000000', 9132.2275390625, 15713967523, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-17 00:00:00.000000', 9151.392578125, 13944570749, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-18 00:00:00.000000', 9159.0400390625, 12252601475, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-19 00:00:00.000000', 9185.8173828125, 12939002784, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-20 00:00:00.000000', 9164.2314453125, 13755604146, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-21 00:00:00.000000', 9374.8876953125, 18069581956, 'BTC', 'Bitcoin USD', 'Crypto Currency'), ('2020-07-22 00:00:00.000000', 9525.36328125, 16532254884, 'BTC', 'Bitcoin USD', 'Crypto Currency')  ... displaying 10 of 64744 total bound parameter sets ...  ('2022-07-14 00:00:00.000000', 0.008950999937951565, 5889119, 'AMP', 'Amp USD', 'Crypto Currency'), ('2022-07-15 00:00:00.000000', 0.008987757377326488, 5969367, 'AMP', 'Amp USD', 'Crypto Currency'))
2022-07-14 23:24:11,017 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
sqlBubble = pd.read_sql('SELECT * FROM pstocks', con=conn)
sqlBubble

2022-07-14 23:24:11,102 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM pstocks")
2022-07-14 23:24:11,104 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 23:24:11,105 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM pstocks")
2022-07-14 23:24:11,106 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-14 23:24:11,106 INFO sqlalchemy.engine.Engine SELECT * FROM pstocks
2022-07-14 23:24:11,107 INFO sqlalchemy.engine.Engine [raw sql] ()

,Date,__id,Close,Volume,Ticker,Name,Sector
0,2020-07-15 00:00:00,0,159.330002,3472300.0,MMM,3M,Industrials
1,2020-07-16 00:00:00,1,160.500000,1801500.0,MMM,3M,Industrials
2,2020-07-17 00:00:00,2,159.830002,2551700.0,MMM,3M,Industrials
3,2020-07-20 00:00:00,3,156.369995,1790100.0,MMM,3M,Industrials
4,2020-07-21 00:00:00,4,157.800003,2757200.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...
313497,2022-07-11 00:00:00.000000,313497,0.008844,4977881.0,AMP,Amp USD,Crypto Currency
313498,2022-07-12 00:00:00.000000,313498,0.008778,8721514.0,AMP,Amp USD,Crypto Currency
313499,2022-07-13 00:00:00.000000,313499,0.008870,6845247.0,AMP,Amp USD,Crypto Currency
313500,2022-07-14 00:00:00.000000,313500,0.008951,5889119.0,AMP,Amp USD,Crypto Currency
313501,2022-07-15 00:00:00.000000,313501,0.008988,5969367.0,AMP,Amp USD,Crypto Currency

In [28]:
sqlBubble["Date"] = pd.to_datetime(sqlBubble['Date']).dt.date
sqlBubble

,Date,__id,Close,Volume,Ticker,Name,Sector
0,2020-07-15,0,159.330002,3472300.0,MMM,3M,Industrials
1,2020-07-16,1,160.500000,1801500.0,MMM,3M,Industrials
2,2020-07-17,2,159.830002,2551700.0,MMM,3M,Industrials
3,2020-07-20,3,156.369995,1790100.0,MMM,3M,Industrials
4,2020-07-21,4,157.800003,2757200.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...
313497,2022-07-11,313497,0.008844,4977881.0,AMP,Amp USD,Crypto Currency
313498,2022-07-12,313498,0.008778,8721514.0,AMP,Amp USD,Crypto Currency
313499,2022-07-13,313499,0.008870,6845247.0,AMP,Amp USD,Crypto Currency
313500,2022-07-14,313500,0.008951,5889119.0,AMP,Amp USD,Crypto Currency
313501,2022-07-15,313501,0.008988,5969367.0,AMP,Amp USD,Crypto Currency

In [31]:
with sqlite3.connect('stocks.sqlite') as con:
    sqlBubble.to_sql('stocks', con=con, dtype={'__id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})