In [1]:
# !pip install yfinance

In [2]:
# dependencies
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from datetime import date
import sqlite3

In [3]:
# Creates a connection to our DB. if file doesn't exist, we create it
# echo=True is verbose
engine = create_engine("sqlite:///stocks.sqlite", echo=True)
conn = engine.connect()
session = Session(engine)
Base = declarative_base()

# # Define our pet table
# probably deprecated after i found out about df.to_sql method
# class stock(Base):
#     __tablename__ = 'stock'
#     id = Column(Integer, primary_key=True)
#     name = Column(String)
#     type = Column(String)
#     date = Column(Date)
# # creates table
# Base.metadata.create_all(engine)

In [4]:
# choose tickers here
# tickerStrings = ['AAPL', 'MSFT','TSLA','META','TTCF']

In [5]:
#import csv file with the list of S&P 500 companies
splist = pd.read_csv("sp500_constituents.csv")
# print df
splist

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [6]:
#s&p500 tickers
sp500 = splist.rename(columns={'Symbol':'Ticker'})
# print df
sp500

    Ticker                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [7]:
# variable for the list for the for loop
tickerStrings = sp500['Ticker']

# yfinance code to separate tickers into pretty dataframe
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='2y')
    data['Ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    
    df_list.append(data)

# combine all dataframes into a single dataframe
tickerDf = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BF.B: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PBCT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
# reset index to prepare for merge
tickerindex = tickerDf.reset_index()

tickerindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2020-07-07,156.080002,157.100006,154.690002,154.820007,144.555740,1571700.0,MMM
1,2020-07-08,155.070007,155.600006,153.869995,154.580002,144.331635,1662000.0,MMM
2,2020-07-09,153.919998,154.720001,151.039993,151.449997,141.409164,2190000.0,MMM
3,2020-07-10,151.690002,153.250000,150.990005,152.850006,142.716354,1954500.0,MMM
4,2020-07-13,154.350006,156.929993,154.160004,154.800003,144.537048,2217800.0,MMM
...,...,...,...,...,...,...,...,...
249242,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS
249243,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS
249244,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS
249245,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS
249246,2022-07-06,174.869995,179.880005,174.399994,178.500000,178.500000,1883300.0,ZTS

In [9]:
# merge the sp500 df to get add the ticker name
mergeticker = tickerindex.merge(sp500, how = 'right', on = 'Ticker')

mergeticker

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Name,Sector
0,2020-07-07,156.080002,157.100006,154.690002,154.820007,144.555740,1571700.0,MMM,3M,Industrials
1,2020-07-08,155.070007,155.600006,153.869995,154.580002,144.331635,1662000.0,MMM,3M,Industrials
2,2020-07-09,153.919998,154.720001,151.039993,151.449997,141.409164,2190000.0,MMM,3M,Industrials
3,2020-07-10,151.690002,153.250000,150.990005,152.850006,142.716354,1954500.0,MMM,3M,Industrials
4,2020-07-13,154.350006,156.929993,154.160004,154.800003,144.537048,2217800.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...,...,...,...
249252,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS,Zoetis,Health Care
249253,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS,Zoetis,Health Care
249254,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS,Zoetis,Health Care
249255,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS,Zoetis,Health Care
249256,2022-07-06,174.869995,179.880005,174.399994,178.500000,178.500000,1883300.0,ZTS,Zoetis,Health Care

In [10]:
# dropping columns
closeticker = mergeticker.drop(columns =['High','Low','Open','Adj Close','Sector'])

# set index to date
cleanedticker = closeticker.set_index('Date')

cleanedticker

                 Close     Volume Ticker    Name
Date
2020-07-07  154.820007  1571700.0    MMM      3M
2020-07-08  154.580002  1662000.0    MMM      3M
2020-07-09  151.449997  2190000.0    MMM      3M
2020-07-10  152.850006  1954500.0    MMM      3M
2020-07-13  154.800003  2217800.0    MMM      3M
...                ...        ...    ...     ...
2022-06-29  173.919998  1658000.0    ZTS  Zoetis
2022-06-30  171.889999  2220700.0    ZTS  Zoetis
2022-07-01  174.210007  1498400.0    ZTS  Zoetis
2022-07-05  174.250000  1853100.0    ZTS  Zoetis
2022-07-06  178.500000  1883300.0    ZTS  Zoetis

[249257 rows x 4 columns]

In [11]:
# cleanedticker["__id"] = 1
cleanedticker.insert(0, '__id', range(0, len(cleanedticker)))
# cleanedticker.reset_index()
# cleanedticker["__id"] = cleanedticker.index

In [12]:
cleanedticker

              __id       Close     Volume Ticker    Name
Date
2020-07-07       0  154.820007  1571700.0    MMM      3M
2020-07-08       1  154.580002  1662000.0    MMM      3M
2020-07-09       2  151.449997  2190000.0    MMM      3M
2020-07-10       3  152.850006  1954500.0    MMM      3M
2020-07-13       4  154.800003  2217800.0    MMM      3M
...            ...         ...        ...    ...     ...
2022-06-29  249252  173.919998  1658000.0    ZTS  Zoetis
2022-06-30  249253  171.889999  2220700.0    ZTS  Zoetis
2022-07-01  249254  174.210007  1498400.0    ZTS  Zoetis
2022-07-05  249255  174.250000  1853100.0    ZTS  Zoetis
2022-07-06  249256  178.500000  1883300.0    ZTS  Zoetis

[249257 rows x 5 columns]

In [13]:
with sqlite3.connect('stocks.sqlite') as con:
    cleanedticker.to_sql('stocks', con=con, dtype={'__id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})

In [14]:
# this will push dataframe to sql, creating a table if none exists
# cleanedticker.to_sql('stocks', conn, if_exists='append')

In [15]:
cleanedticker.head()

            __id       Close     Volume Ticker Name
Date
2020-07-07     0  154.820007  1571700.0    MMM   3M
2020-07-08     1  154.580002  1662000.0    MMM   3M
2020-07-09     2  151.449997  2190000.0    MMM   3M
2020-07-10     3  152.850006  1954500.0    MMM   3M
2020-07-13     4  154.800003  2217800.0    MMM   3M

In [16]:
#import csv file with the list of top 100 crypto currencies from yahoo finance
cryptolist = pd.read_csv("yfcryptolist.csv").rename(columns={'Unnamed: 0':'index'})

# print to check df
cryptolist

    index              Name    Ticker
0       0       Bitcoin USD   BTC-USD
1       1      Ethereum USD   ETH-USD
2       2        Tether USD  USDT-USD
3       3      USD Coin USD  USDC-USD
4       4  Binance Coin USD   BNB-USD
..    ...               ...       ...
95     95          Celo USD  CELO-USD
96     96          Kava USD  KAVA-USD
97     97       Arweave USD    AR-USD
98     98          Mina USD  MINA-USD
99     99           Amp USD   AMP-USD

[100 rows x 3 columns]

In [17]:
# set variable name for list for the for loop
cryptoStrings = cryptolist['Ticker']

In [18]:
# yfinance code to separate tickers into pretty dataframe
df_list2 = list()
for crypto in cryptoStrings:
    data2 = yf.download(crypto, group_by="Ticker", period='2y')
    # add this column because the dataframe doesn't contain a column with the ticker
    data2['Ticker'] = crypto 
    
    df_list2.append(data2)

# combine all dataframes into a single dataframe
cryptoDf = pd.concat(df_list2)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [19]:
# print df
cryptoDf

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2020-07-07,9349.161133,9360.617188,9201.815430,9252.277344,9252.277344,13839652595,BTC-USD
2020-07-08,9253.020508,9450.335938,9249.500000,9428.333008,9428.333008,19702359883,BTC-USD
2020-07-09,9427.994141,9431.378906,9234.999023,9277.967773,9277.967773,18000702524,BTC-USD
2020-07-10,9273.357422,9287.471680,9118.001953,9278.807617,9278.807617,16860035605,BTC-USD
2020-07-11,9277.511719,9293.532227,9199.485352,9240.346680,9240.346680,13249910444,BTC-USD
...,...,...,...,...,...,...,...
2022-07-03,0.009130,0.010038,0.009001,0.009248,0.009248,16419670,AMP-USD
2022-07-04,0.009230,0.009457,0.009036,0.009390,0.009390,6729475,AMP-USD
2022-07-05,0.009389,0.009412,0.008976,0.009109,0.009109,6946327,AMP-USD
2022-07-06,0.009110,0.009202,0.009032,0.009128,0.009128,5588820,AMP-USD
2022-07-07,0.009127,0.009224,0.009095,0.009162,0.009162,6133206,AMP-USD

In [20]:
# reset index to prepare for merge and rename ticker column
cryptoindex = cryptoDf.reset_index().rename(columns={"Ticker":"Ticker-drop"})

cryptoindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker-drop
0,2020-07-07,9349.161133,9360.617188,9201.815430,9252.277344,9252.277344,13839652595,BTC-USD
1,2020-07-08,9253.020508,9450.335938,9249.500000,9428.333008,9428.333008,19702359883,BTC-USD
2,2020-07-09,9427.994141,9431.378906,9234.999023,9277.967773,9277.967773,18000702524,BTC-USD
3,2020-07-10,9273.357422,9287.471680,9118.001953,9278.807617,9278.807617,16860035605,BTC-USD
4,2020-07-11,9277.511719,9293.532227,9199.485352,9240.346680,9240.346680,13249910444,BTC-USD
...,...,...,...,...,...,...,...,...
64477,2022-07-03,0.009130,0.010038,0.009001,0.009248,0.009248,16419670,AMP-USD
64478,2022-07-04,0.009230,0.009457,0.009036,0.009390,0.009390,6729475,AMP-USD
64479,2022-07-05,0.009389,0.009412,0.008976,0.009109,0.009109,6946327,AMP-USD
64480,2022-07-06,0.009110,0.009202,0.009032,0.009128,0.009128,5588820,AMP-USD
64481,2022-07-07,0.009127,0.009224,0.009095,0.009162,0.009162,6133206,AMP-USD

In [21]:
# split the hyphen from crypto ticker for the final crypto df, rename columns, and reset index to prepare for merge
tickersplit = cryptolist['Ticker'].str.split('-' ,expand=True).rename(columns={0:'Ticker', 1: 'drop'}).reset_index()
tickersplit

    index Ticker drop
0       0    BTC  USD
1       1    ETH  USD
2       2   USDT  USD
3       3   USDC  USD
4       4    BNB  USD
..    ...    ...  ...
95     95   CELO  USD
96     96   KAVA  USD
97     97     AR  USD
98     98   MINA  USD
99     99    AMP  USD

[100 rows x 3 columns]

In [22]:
# split the space from crypto name for the final crypto df, rename columns, and reset index to prepare for merge
namesplit = cryptolist['Name'].str.split(' ', expand = True).rename(columns={0:'Name', 1: 'drop'}).reset_index()
namesplit

    index      Name  drop     2     3
0       0   Bitcoin   USD  None  None
1       1  Ethereum   USD  None  None
2       2    Tether   USD  None  None
3       3       USD  Coin   USD  None
4       4   Binance  Coin   USD  None
..    ...       ...   ...   ...   ...
95     95      Celo   USD  None  None
96     96      Kava   USD  None  None
97     97   Arweave   USD  None  None
98     98      Mina   USD  None  None
99     99       Amp   USD  None  None

[100 rows x 5 columns]

In [23]:
# merge the two dfs
rename_merge = tickersplit.merge(namesplit, how='right', on='index').drop(columns =['drop_x','drop_y',2,3])

rename_merge

    index Ticker      Name
0       0    BTC   Bitcoin
1       1    ETH  Ethereum
2       2   USDT    Tether
3       3   USDC       USD
4       4    BNB   Binance
..    ...    ...       ...
95     95   CELO      Celo
96     96   KAVA      Kava
97     97     AR   Arweave
98     98   MINA      Mina
99     99    AMP       Amp

[100 rows x 3 columns]

In [24]:
# merge the cryptolist df to prepare for the merge with the crypto data df and rename the columns
mergecrylist = rename_merge.merge(cryptolist, how = 'right', on= 'index')\
            .rename(columns={'Name_x':'Name-drop','Ticker_x':'Ticker','Name_y':'Name','Ticker_y':'Ticker-drop'})

mergecrylist

    index Ticker Name-drop              Name Ticker-drop
0       0    BTC   Bitcoin       Bitcoin USD     BTC-USD
1       1    ETH  Ethereum      Ethereum USD     ETH-USD
2       2   USDT    Tether        Tether USD    USDT-USD
3       3   USDC       USD      USD Coin USD    USDC-USD
4       4    BNB   Binance  Binance Coin USD     BNB-USD
..    ...    ...       ...               ...         ...
95     95   CELO      Celo          Celo USD    CELO-USD
96     96   KAVA      Kava          Kava USD    KAVA-USD
97     97     AR   Arweave       Arweave USD      AR-USD
98     98   MINA      Mina          Mina USD    MINA-USD
99     99    AMP       Amp           Amp USD     AMP-USD

[100 rows x 5 columns]

In [25]:
# final merge between the data df and the name list df and drop the unnecessary columns
crypto_cleaned =cryptoindex.merge(mergecrylist, how= 'right', on='Ticker-drop')\
                .drop(columns=['Open','High','Low','Adj Close', 'index', 'Ticker-drop', 'Name-drop'])\
                .set_index('Date')
crypto_cleaned

                  Close       Volume Ticker         Name
Date
2020-07-07  9252.277344  13839652595    BTC  Bitcoin USD
2020-07-08  9428.333008  19702359883    BTC  Bitcoin USD
2020-07-09  9277.967773  18000702524    BTC  Bitcoin USD
2020-07-10  9278.807617  16860035605    BTC  Bitcoin USD
2020-07-11  9240.346680  13249910444    BTC  Bitcoin USD
...                 ...          ...    ...          ...
2022-07-03     0.009248     16419670    AMP      Amp USD
2022-07-04     0.009390      6729475    AMP      Amp USD
2022-07-05     0.009109      6946327    AMP      Amp USD
2022-07-06     0.009128      5588820    AMP      Amp USD
2022-07-07     0.009162      6133206    AMP      Amp USD

[64482 rows x 4 columns]

In [26]:
# export to sql
crypto_cleaned.to_sql('stocks', conn, if_exists='append')

2022-07-07 00:43:41,511 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-07-07 00:43:41,516 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-07 00:43:41,571 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-07 00:43:42,065 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-07 00:43:42,066 INFO sqlalchemy.engine.Engine [generated in 0.39869s] (('2020-07-07 00:00:00.000000', 9252.27734375, 13839652595, 'BTC', 'Bitcoin USD'), ('2020-07-08 00:00:00.000000', 9428.3330078125, 19702359883, 'BTC', 'Bitcoin USD'), ('2020-07-09 00:00:00.000000', 9277.9677734375, 18000702524, 'BTC', 'Bitcoin USD'), ('2020-07-10 00:00:00.000000', 9278.8076171875, 16860035605, 'BTC', 'Bitcoin USD'), ('2020-07-11 00:00:00.000000', 9240.3466796875, 13249910444, 'BTC', 'Bitcoin USD'), ('2020-07-12 00:00:00.000000', 9276.5, 14452361907, 'BTC', 'Bitcoin USD'), ('2020-07-13 00:00:00.000000', 9243.6142578125, 17519821266, 'BTC', 'Bitcoin USD'), ('2020-07-14 00:00:00.000000', 9243.2138671875, 18085038362, 'BTC', 'Bitcoin USD')  ... displaying 10 of 64482 total bound parameter sets ...  ('2022-07-06 00:00:00.000000', 0.009127999655902386, 5588820, 'AMP', 'Amp USD'), ('2022-07-07 00:00:00.000000', 0.00916198268532753, 6133206, 'AMP', 'Amp USD'))
2022-07-07 00:43:42,970 INFO sqlalchemy.engine.Engine COMMIT