In [1]:
# !pip install yfinance

In [2]:
# dependencies
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from datetime import date

In [3]:
# Creates a connection to our DB. if file doesn't exist, we create it
# echo=True is verbose
engine = create_engine("sqlite:///cleaned_stocks.sqlite", echo=True)
conn = engine.connect()
session = Session(engine)
Base = declarative_base()

# # Define our pet table
# probably deprecated after i found out about df.to_sql method
# class stock(Base):
#     __tablename__ = 'stock'
#     id = Column(Integer, primary_key=True)
#     name = Column(String)
#     type = Column(String)
#     date = Column(Date)
# # creates table
# Base.metadata.create_all(engine)

In [4]:
# choose tickers here
# tickerStrings = ['AAPL', 'MSFT','TSLA','META','TTCF']

In [5]:
#import csv file with the list of S&P 500 companies
splist = pd.read_csv("sp500_constituents.csv")

splist

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [6]:
#s&p500 tickers
sp500 = splist.rename(columns={'Symbol':'Ticker'})

sp500

    Ticker                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [7]:
tickerStrings = sp500['Ticker']

In [8]:
# yfinance code to separate tickers into pretty dataframe
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='5d')
    data['Ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    
    df_list.append(data)

# combine all dataframes into a single dataframe
tickerDf = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BF.B: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CERN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PBCT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
tickerindex = tickerDf.reset_index()

tickerindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-06-28,133.860001,134.570007,130.149994,130.330002,130.330002,2408300.0,MMM
1,2022-06-29,130.000000,130.339996,128.809998,129.770004,129.770004,2821100.0,MMM
2,2022-06-30,128.710007,130.210007,127.300003,129.410004,129.410004,3341100.0,MMM
3,2022-07-01,129.410004,129.830002,126.610001,128.490005,128.490005,3719800.0,MMM
4,2022-07-05,126.980003,129.440002,125.599998,129.210007,129.210007,3905300.0,MMM
...,...,...,...,...,...,...,...,...
2465,2022-06-28,172.960007,174.669998,170.009995,170.119995,170.119995,1725800.0,ZTS
2466,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS
2467,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS
2468,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS
2469,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS

In [10]:
mergeticker = tickerindex.merge(sp500, how = 'right', on = 'Ticker')

mergeticker

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Name,Sector
0,2022-06-28,133.860001,134.570007,130.149994,130.330002,130.330002,2408300.0,MMM,3M,Industrials
1,2022-06-29,130.000000,130.339996,128.809998,129.770004,129.770004,2821100.0,MMM,3M,Industrials
2,2022-06-30,128.710007,130.210007,127.300003,129.410004,129.410004,3341100.0,MMM,3M,Industrials
3,2022-07-01,129.410004,129.830002,126.610001,128.490005,128.490005,3719800.0,MMM,3M,Industrials
4,2022-07-05,126.980003,129.440002,125.599998,129.210007,129.210007,3905300.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...,...,...,...
2476,2022-06-28,172.960007,174.669998,170.009995,170.119995,170.119995,1725800.0,ZTS,Zoetis,Health Care
2477,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS,Zoetis,Health Care
2478,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS,Zoetis,Health Care
2479,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS,Zoetis,Health Care
2480,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS,Zoetis,Health Care

In [11]:
closeticker = mergeticker.drop(columns =['High','Low','Open','Adj Close','Sector'])

cleanedticker = closeticker.set_index('Date')

cleanedticker

                 Close     Volume Ticker    Name
Date
2022-06-28  130.330002  2408300.0    MMM      3M
2022-06-29  129.770004  2821100.0    MMM      3M
2022-06-30  129.410004  3341100.0    MMM      3M
2022-07-01  128.490005  3719800.0    MMM      3M
2022-07-05  129.210007  3905300.0    MMM      3M
...                ...        ...    ...     ...
2022-06-28  170.119995  1725800.0    ZTS  Zoetis
2022-06-29  173.919998  1658000.0    ZTS  Zoetis
2022-06-30  171.889999  2220700.0    ZTS  Zoetis
2022-07-01  174.210007  1498400.0    ZTS  Zoetis
2022-07-05  174.250000  1853100.0    ZTS  Zoetis

[2481 rows x 4 columns]

In [12]:
# this will push dataframe to sql, creating a table if none exists
cleanedticker.to_sql('cleaned_stocks', conn, if_exists='append')

2022-07-06 01:30:36,818 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cleaned_stocks")
2022-07-06 01:30:36,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 01:30:36,820 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("cleaned_stocks")
2022-07-06 01:30:36,820 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 01:30:36,822 INFO sqlalchemy.engine.Engine
CREATE TABLE cleaned_stocks (
	"Date" DATETIME,
	"Close" FLOAT,
	"Volume" FLOAT,
	"Ticker" TEXT,
	"Name" TEXT
)


2022-07-06 01:30:36,823 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2022-07-06 01:30:36,827 INFO sqlalchemy.engine.Engine COMMIT
2022-07-06 01:30:36,828 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_cleaned_stocks_Date" ON cleaned_stocks ("Date")
2022-07-06 01:30:36,829 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2022-07-06 01:30:36,833 INFO sqlalchemy.engine.Engine COMMIT
2022-07-06 01:30:36,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 01:30:36,859 INFO sqlalchemy.engine.Engine INSERT INTO cleaned_stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 01:30:36,859 INFO sqlalchemy.engine.Engine [generated in 0.01882s] (('2022-06-28 00:00:00.000000', 130.3300018310547, 2408300.0, 'MMM', '3M'), ('2022-06-29 00:00:00.000000', 129.77000427246094, 2821100.0, 'MMM', '3M'), ('2022-06-30 00:00:00.000000', 129.41000366210938, 3341100.0, 'MMM', '3M'), ('2022-07-01 00:00:00.000000', 128.49000549316406, 3719800.0, 'MMM', '3M'), ('2022-07-05 00:00:00.000000', 129.2100067138672, 3905300.0, 'MMM', '3M'), ('2022-06-28 00:00:00.000000', 55.18000030517578, 1107400.0, 'AOS', 'A. O. Smith'), ('2022-06-29 00:00:00.000000', 54.79999923706055, 838400.0, 'AOS', 'A. O. Smith'), ('2022-06-30 00:00:00.000000', 54.68000030517578, 1144000.0, 'AOS', 'A. O. Smith')  ... displaying 10 of 2481 total bound parameter sets ...  ('2022-07-01 00:00:00.000000', 174.2100067138672, 1498400.0, 'ZTS', 'Zoetis'), ('2022-07-05 00:00:00.000000', 174.25, 1853100.0, 'ZTS', 'Zoetis'))
2022-07-06 01:30:36,868 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
cleanedticker.head()

                 Close     Volume Ticker Name
Date
2022-06-28  130.330002  2408300.0    MMM   3M
2022-06-29  129.770004  2821100.0    MMM   3M
2022-06-30  129.410004  3341100.0    MMM   3M
2022-07-01  128.490005  3719800.0    MMM   3M
2022-07-05  129.210007  3905300.0    MMM   3M

In [14]:
btc = pd.read_csv("data_crypto/bitcoin_2012-1-1_2022-6-27.csv")
btc

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11
1,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11
2,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11
3,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11
4,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11
...,...,...,...,...,...,...,...
543,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00
544,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00
545,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00
546,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00
547,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00

In [15]:
# add ticker name to corresponding column
btc["Ticker"]='BTC'

btc['Name'] = 'Bitcoin'

btc

,Date,Open,High,Low,Close,Volume,Market Cap,Ticker,Name
0,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11,BTC,Bitcoin
1,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11,BTC,Bitcoin
2,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11,BTC,Bitcoin
3,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11,BTC,Bitcoin
4,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11,BTC,Bitcoin
...,...,...,...,...,...,...,...,...,...
543,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00,BTC,Bitcoin
544,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00,BTC,Bitcoin
545,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00,BTC,Bitcoin
546,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00,BTC,Bitcoin
547,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00,BTC,Bitcoin

In [16]:
pd.to_datetime(btc['Date']).dt.date

0      2022-06-26
1      2022-06-19
2      2022-06-12
3      2022-06-05
4      2022-05-29
          ...
543    2012-01-29
544    2012-01-22
545    2012-01-15
546    2012-01-08
547    2012-01-01
Name: Date, Length: 548, dtype: object

In [17]:
btc = btc.set_index(pd.to_datetime(btc['Date']).dt.date)

btc

,Date,Open,High,Low,Close,Volume,Market Cap,Ticker,Name
Date,,,,,,,,,
2022-06-26,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11,BTC,Bitcoin
2022-06-19,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11,BTC,Bitcoin
2022-06-12,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11,BTC,Bitcoin
2022-06-05,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11,BTC,Bitcoin
2022-05-29,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11,BTC,Bitcoin
...,...,...,...,...,...,...,...,...,...
2012-01-29,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-22,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-15,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-08,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-01,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00,BTC,Bitcoin

In [18]:
btc_cleaned = btc.drop(columns=['High','Low','Open','Market Cap','Date'])

btc_cleaned.head(10)

                   Close        Volume Ticker     Name
Date
2022-06-26  21029.216300  3.601759e+10    BTC  Bitcoin
2022-06-19  20554.902700  8.274432e+10    BTC  Bitcoin
2022-06-12  26704.729357  6.030508e+10    BTC  Bitcoin
2022-06-05  29909.210373  2.808424e+10    BTC  Bitcoin
2022-05-29  29445.724100  2.908444e+10    BTC  Bitcoin
2022-05-22  30366.042221  3.479284e+10    BTC  Bitcoin
2022-05-15  31333.765617  4.528098e+10    BTC  Bitcoin
2022-05-08  33933.542810  5.993033e+10    BTC  Bitcoin
2022-05-01  38467.094000  4.969523e+10    BTC  Bitcoin
2022-04-24  39479.996970  3.918160e+10    BTC  Bitcoin

In [19]:
btc_cleaned.to_sql('cleaned_stocks', conn, if_exists='append')

2022-07-06 01:30:37,094 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cleaned_stocks")
2022-07-06 01:30:37,095 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 01:30:37,098 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 01:30:37,103 INFO sqlalchemy.engine.Engine INSERT INTO cleaned_stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 01:30:37,104 INFO sqlalchemy.engine.Engine [generated in 0.00348s] (('2022-06-26', 21029.2163, 36017590144.0, 'BTC', 'Bitcoin'), ('2022-06-19', 20554.9027, 82744323328.0, 'BTC', 'Bitcoin'), ('2022-06-12', 26704.72935717625, 60305080590.22222, 'BTC', 'Bitcoin'), ('2022-06-05', 29909.210373336216, 28084240917.33333, 'BTC', 'Bitcoin'), ('2022-05-29', 29445.7241, 29084438122.666668, 'BTC', 'Bitcoin'), ('2022-05-22', 30366.04222096173, 34792840362.666664, 'BTC', 'Bitcoin'), ('2022-05-15', 31333.765617069977, 45280980437.333336, 'BTC', 'Bitcoin'), ('2022-05-08', 33933.54281002884, 59930329173.333336, 'BTC', 'Bitcoin')  ... displaying 10 of 548 total bound parameter sets ...  ('2012-01-08', 7.1136, 0.0, 'BTC', 'Bitcoin'), ('2012-01-01', 5.2677, 0.0, 'BTC', 'Bitcoin'))
2022-07-06 01:30:37,108 INFO sqlalchemy.engine.Engine COMMIT